body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.active {
    background-color: #add8e6;
    color: #00003c;
    padding: 5px;
    border-radius: 5px;
}

.button_404 {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: 2px solid lightblue;
    color: #add8e6;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    width: 120px;
}

.button_404:hover {
    background-color: #495c5d;
    color: white;
}

.content_404 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background-color: lightgray;
    cursor: pointer;
}

.cell:hover {
    background-color: #495c5d;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
}

.reset {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    border: 2px solid #00003c;
    color: #00003c;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.reset:hover {
    background-color: #00003c;
    color: white;
}

/* index.html */
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    left: 0;
    display: none;
    top: 100%;
}

/* header */
/* Navbar toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding: 1em;
}


header {
    background-color: #fff;
    position: fixed;
    z-index: 9;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    left: 0;
    top: 0;
}

header #logo {
    float: left;
    height: 40px;
    margin-left: 1em;

}

header a {
    text-decoration: none;
    color: inherit;
    align-self: center;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style: none;
}

#menu>li {
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1em;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* main */
main {
    margin-top: 8em;
}


/* footer */
footer {
    background-color: #dfdfdf;
    padding: 15px 20px 20px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10vh;
}

footer li {
    list-style: none;
    color: black;
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


/* contact page */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: #dfdfdf;
    border: none;
    border-radius: 4px;
}

#submit {
    background: #00003c;
    width: 150px;
    color: #fff;
}

#submit:hover {
    transition: all 0.3s;
    background: #add8e6;
    color: #00003c;
}



@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        margin-left: 2rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #menu>li:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    #logo:hover {
        transform: scale(1.1);
        transition: 0.5s;
    }

    /* contact form */
    input,
    textarea {
        width: 40%;
    }
}